/* main.css */
body {
	background-color: black;
	color:white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 10;
  margin-top: 0;
}

a:link {
  color:white;
  text-decoration: none;
}
a:hover {color: orange !important; }
a:visited {color:white; }


#top {
  width: 470px;
  margin-top: 15px;
}

.title {
    font-size: 28px;
}

#bottom {
  margin: 0;
  padding: 0;
  width:470px;
}

button {
	border: 0px;
   	background: #ffffff;
   	padding: 3px 13px;
   	color: #000000;
   	font-size: 17px;
   	font-family: Helvetica, Arial, Sans-Serif;
   	text-decoration: none;
    float: right;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 40px;
    height: 25px;
}
button:hover {
  	border-top-color: orange;
   	background: orange;
   	color: #ffffff;
}
button:active {
  	border-top-color: #ffffff;
   	background: #ffffff;
}

.about_content {
    padding-top: 15px;
}

#copyright {
  color:gray;
  padding-top: 15px;
}

.loading-mask {
    position: absolute;
    top: 263px;
    width: 100%;
    margin: auto;
    text-align: center;
    animation: pulse 3s infinite;
    font-weight: bold;
}

@keyframes pulse {
  0% {
    color: white;
  }
  50% {
      color: #3CACFF;
  }
  100% {
    color: white;
  }
}
