/* main.css */
body {
	background-color: black;
	color:white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 10;
}

a:link {
  color:white; 
  text-decoration: none;
}
a:hover {color: orange !important; }
a:visited {color:white; }


#top {
  width:475;
}

#bottom {
  margin: 0;
  padding: 0;
  width:470px;
}

button {
	border: 0px;
   	background: #ffffff;
   	padding: 3px 13px;
   	color: #000000;
   	font-size: 17px;
   	font-family: Helvetica, Arial, Sans-Serif;
   	text-decoration: none;
   	vertical-align: middle;
}
button:hover {
  	border-top-color: orange;
   	background: orange;
   	color: #ffffff;
}
button:active {
  	border-top-color: #ffffff;
   	background: #ffffff;
}

#copyright {
  position:absolute;
  bottom:0;
  color:gray;
}